<%= form_for :question, url: question_path, method: :patch do |f| %>
  <p><%=f.label :title %><br>
  <%= f.text_field :title, value: @question.title %></p>

  <p><%= f.label :content %><br>
  <%= f.text_area :content, value: @question.content %></p>
  <p><%= f.submit %></p>
<% end %>